 /* CUSTOM CSS */
 
/* header section  */

/* navbar */
#magnifying-glass{
    position: relative;
    left: -50px;
    color: #BABABA;
    ;

}

/* carousel */
.carousel-body{
    background: #FEEAE9;
    border-radius: 20px;
}




/* main section  */



/* footer section  */